* {
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
  color: white;
}
li{
  list-style-type: none;
}
body {
  background-color: #010101;
  color: #fff;
  font-family: raleway_f, sans-serif;
  line-height: 1.55;
  background: url(5.jpg) cover no-repeat;
}
.navbar {
  width: 100%;
  height: 70px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
}
.navbar .container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-menu{
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}
.navbar-menu li {
  display:inline-block;
}
.navbar-menu li a{
  display:inline-block;
  color: #e7e7e0;
  opacity: 0.6;
  text-decoration: none;
  padding: 10px;
  transition: all .07s ease-in-out;
}
.navbar-menu li a:hover {
  opacity: 1;
}

.navbar-wrap {
  display: flex;
  flex-flow: row nowrap;
}
.callback {
  margin-left: 30px;
  padding: 10px;
  background-color: #013220;
  border-radius: 100px;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(34, 139, 34, .2);
  transition: all .1s ease-out;
}
.callback:hover {
  transform: scale(1.04);
  box-shadow: 0 9px 9px rgba(34, 139, 34, .5);
  color: #fff;
  
}
.navbar-brand {
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: #e7e7e0;
  transition: all .07s ease-in-out;
}
.navbar-brand:hover {
  color: #e7e7e0
}
.h1_cont{
  text-align: center;
}
.inner_ms{
  margin-top: -30%;
  position:absolute ;
}
.map_h{
  font-size: 30px;
  margin-left: 60%; 
}
.map_h_1{
 font-size: 30px;
 margin-left: 30px;
}
.img_map{
  position: relative;
}
table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

caption {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.footer{
  background-color: #888888;
}
.footer h4 {
  color: #ccc;
  text-transform: uppercase;
  font-size: 16px;
  border-bottom: 3px;
}
.footer a:hover {
  color: #fff;
  text-decoration: underline;
}
.footer a {
  text-decoration: none;
  transition: all .3s;
}
.footer a, .footer li {
  color: #c8c8c8;
}

.footer {
  color: #fdfff5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer img, .footer p {
  
  vertical-align: middle;
}
.footer__iteam-text a{
  margin-left: 20px;
  
}
.ft_img{
  display: inline-block;
}