* {
  margin:0;
  padding:0;
}
.slider middle {
  max-width: 1000px;
  position:relative;
  margin: auto;
}

body {
  background-color: #666;
}

.slider {
  margin-top: 60px;
  width:1300px;
  height:600px;
  overflow:hidden;
  border:10px solid #fff; 
}

.middle {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
.navigation {
  position:absolute;
  bottom:16px;
  left:50%;
  transform:translateX(-50%);
  display:flex;
}
.bar {
  height:8px;
  width:30px;
  margin:6px;
  cursor:pointer;
  background-color: #ddd;
  opacity: .5;
  border-radius:10px;
  transition:all .4s ease;
}
.bar:hover {
  opacity:1;
  transform:scale(1.1);
}
input[name="r"] {
  position:absolute;
  visibility: hidden;
}

.slides {
  width:400%;
  height:100%;
  display:flex;
}
.slide {
  width:25%;
  transition: all .6s ease;
}

#r1:checked ~ .s1 {
  margin-left:0;
}
#r2:checked ~ .s1 {
  margin-left:-25%;
}
.navbar {
  width: 100%;
  height: 70px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
}
.navbar .container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-menu{
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}
.navbar-menu li {
  display:inline-block;
}
.navbar-menu li a{
  display:inline-block;
  color: #e7e7e0;
  opacity: 0.6;
  text-decoration: none;
  padding: 10px;
  transition: all .07s ease-in-out;
}
.navbar-menu li a:hover {
  opacity: 1;
}

.navbar-wrap {
  display: flex;
  flex-flow: row nowrap;
}
.callback {
  margin-left: 30px;
  padding: 10px;
  background-color: #013220;
  border-radius: 100px;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(34, 139, 34, .2);
  transition: all .1s ease-out;
}
.callback:hover {
  transform: scale(1.04);
  box-shadow: 0 9px 9px rgba(34, 139, 34, .5);
  color: #fff;

}
.navbar-brand {
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: #e7e7e0;
  transition: all .07s ease-in-out;
}
.navbar-brand:hover {
  color: #e7e7e0
}
body {
  background-color: #010101;
  color: #fff;
  font-family: raleway_f, sans-serif;
  line-height: 1.55;
}
.abb{
  margin-top: 50%;
   text-align: center;
   padding-bottom: 5%;
   padding-left: 10%;
   padding-right: 10%;
}
.footer{
  background-color: #888888;
}
.footer h4 {
  color: #ccc;
  text-transform: uppercase;
  font-size: 16px;
  border-bottom: 3px;
}
.footer a:hover {
  color: #fff;
  text-decoration: underline;
}
.footer a {
  text-decoration: none;
  transition: all .3s;
}
.footer a, .footer li {
  color: #c8c8c8;
}

.footer {
  color: #fdfff5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer img, .footer p {
  
  vertical-align: middle;
}
.footer__iteam-text a{
  margin-left: 20px;
  
}
.ft_img{
  display: inline-block;
}
.book {
  padding: 50px;
  background-color: #010101;
    color: #fdfff5;
  text-align: center;
}

.book h3 {
  font-size: 2em;
  margin-bottom: 20px;
}

.book form {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0 auto;
}
input[type='text'],
input[type='email'],
input[type='book'],
input[type='date'] {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


button[type='submit'] {
  background-color: #625d5d;
  color: #fff;
  padding: 15px 40px;
  border-radius: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  border: none;
  text-align: center;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: #fff;
  color: #333;
}